<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Import Spring Boot's default Logback configuration -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Human-readable console appender configuration for profile "local", just uses the Spring Boot's default one,
    configurable via logging.console.pattern in application.yaml -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>