<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Bring the default spring configuration for the console appender -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>


    <!-- Enable the console and the loki appender only when running locally or in docker, enabled by spring profile -->


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- Enable async appenders to make logging not choke the current thread -->
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>


</configuration>
