<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Import Spring Boot's default Logback configuration -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Human-readable console appender configuration for profile "local", just uses the Spring Boot's default one,
    configurable via logging.console.pattern in application.yaml -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>            <!-- ring buffer size -->
        <discardingThreshold>0</discardingThreshold> <!-- 0 = don’t downsample INFO when queue is ~80% full -->
        <neverBlock>true</neverBlock>          <!-- drop when full instead of blocking app thread -->
        <includeCallerData>false</includeCallerData> <!-- true is expensive -->
        <maxFlushTime>1000</maxFlushTime>      <!-- ms to flush on shutdown -->
        <appender-ref ref="CONSOLE"/>
    </appender>


    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>
</configuration>